node {
        fill-color: #009688;
        size: 35px;
        stroke-mode: plain;
        stroke-color: #004D40;
        text-color: white;
        stroke-width: 1px;
    }
node.loop {
        fill-color: #E53935;
    }
    node.path {
            fill-color: #EF6C00;
        }
edge {
    text-alignment: center;
    text-size: 20;
    text-color: red;
    text-background-mode: plain;
    shape: cubic-curve;
}