node {
    size: 35px;
    stroke-mode: plain;
    stroke-color: #004D40;
    stroke-width: 1px;
}

node.player1 {
    fill-color: #009688;
    text-color: white;
}

node.player2 {
    fill-color: #d32f2f;
    text-color: white;
}

node.unoccupied {
    fill-color: #eeeeee;
    text-color: black;
}

edge {
    text-alignment: center;
    text-size: 20;
    text-color: red;
    text-background-mode: plain;
    shape: cubic-curve;
}